<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/mediaqueries.css">
	<!--<link rel="stylesheet" media="(max-width: 800px)" href="stylesheets/mediaqueries.css" />-->
</head>
<body>
	<header class="encabezado">ds</header>
	<section class="contenido">
		<article class="post"></article>
		<article class="post"></article>
	</section>
	<aside class="contenido-lateral"></aside>
	<footer class="pie-pagina"></footer>
</body>
</html>