body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error{
	padding: 20px;
	text-align: center;
	background: red;
	color: white;
}
.success{
	padding: 20px;
	text-align: center;
	background: green;
	color: white;
}
.btn-regresar{
	padding: 10px 20px;
	background: green;
	color: white;
}